<div class="container-fluid">

  <form [formGroup]="searchForm">
    
    <div class="search-container">
      
      <div class="form-group">
        <label>Localidade</label>
        <div class="mb-2">
          <input class="form-control" formControlName="searchControl">
          <button class="btn btn-dark"
                (click)="pesquisar()">Pesquisar</button>
                <!-- [disabled]="!searchForm.valid" -->
        </div>

        <div class="form-group ">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary">
              <input type="radio" name="searchTypeControl" id="pais" value="pais" autocomplete="off" formControlName="searchTypeControl">País
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="searchTypeControl" id="estado" value="estado" autocomplete="off" formControlName="searchTypeControl" checked>Estado
            </label>
          </div>
        </div>
      </div>

    </div>

    <!-- <div class="form-group md-col-2 mt-4">
      
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchTypeControl" id="pais" value="pais" formControlName="searchTypeControl">
        <label class="form-check-label" for="pais">País</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchTypeControl" id="estado" value="estado" formControlName="searchTypeControl">
        <label class="form-check-label" for="estado">Estado</label>
      </div> 

    </div> -->

    <!-- <div class="form-group">
      <label>Pesquisar com <i>autocomplete</i></label>
    </div> -->

  </form>    

  <jv-loader *ngIf="loading$ | async"></jv-loader>

  <div *ngIf="!(loading$ | async) && !(error$ | async) && !!(localInfo)">
    <div *ngFor="let local of localInfo">

      <jv-country-info *ngIf= "visualizacaoInfo == 'pais'"
                    [countryInfo]="local"
                    (toggleBookmark)="onToggleBookmark()"></jv-country-info>

      <jv-local-info *ngIf= "visualizacaoInfo == 'estado'"
                    [localInfo]="local"
                    (toggleBookmark)="onToggleBookmark()"></jv-local-info>
    </div>
  </div>

  <div *ngIf="!(loading$ | async) && !(error$ | async) && erroInfo">
    A busca não retornou resultados
  </div>

  <div *ngIf="!(loading$ | async) && error$ | async">
    <a>Um erro ocorreu, favor tentar novamente</a>
  </div>

  

</div>
