<div class="container-fluid">

  <form [formGroup]="searchForm">
    
    <div class="search-container">
      
      <div class="form-group m-3">
        <label>Localidade</label>

        <div class="mb-2">
          <div class="input-group">

            <!-- seleção de tipo de localidade -->
            <div class="input-group-prepend" id="button-addon3">

              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" [class.active]="tipo == 'pais'">
                  <input type="radio" name="searchTypeControl" id="pais" value="pais" formControlName="searchTypeControl">País
                </label>

                <label class="btn btn-secondary" [class.active]="tipo == 'estado'">
                  <input type="radio" name="searchTypeControl" id="estado" value="estado" formControlName="searchTypeControl" checked>Estado
                </label>
              </div>

            </div>

            <!-- caixa de texto -->
            <input type="text" class="form-control" placeholder="" formControlName="searchControl" aria-describedby="button-addon3">
          </div>

          <!-- botão pesquisar -->
          <button class="btn btn-dark"
                (click)="pesquisar()">Pesquisar</button>
                <!-- [disabled]="!searchForm.valid" -->

        </div>

      </div>

    </div>

  </form>    

  <jv-loader *ngIf="loading$ | async"></jv-loader>

  <div *ngIf="!(loading$ | async) && !(error$ | async) && !!(localInfo)"
       class="p-3">
    <div *ngFor="let local of pagedItems"
         class="mb-3 mr-5">

      <jv-country-info *ngIf= "visualizacaoInfo == 'pais'"
                    [countryInfo]="local"
                    [isFavorite]="listaFavoritos[ local.country ]"
                    (toggleBookmark)="onToggleBookmark(local)"></jv-country-info>

      <jv-local-info *ngIf= "visualizacaoInfo == 'estado'"
                    [localInfo]="local"
                    [isFavorite]="listaFavoritos[ local.uf | uppercase ]"
                    (toggleBookmark)="onToggleBookmark(local)"></jv-local-info>
      
    </div>

    <div class="d-flex justify-content-center mr-5">
      <jw-pagination [items]="localInfo" (changePage)="beginPagination($event)"></jw-pagination> 
    </div>

  </div>

  <div *ngIf="!(loading$ | async) && !(error$ | async) && erroInfo">
    A busca não retornou resultados
  </div>

  <div *ngIf="!(loading$ | async) && error$ | async">
    <a>Um erro ocorreu, favor tentar novamente</a>
  </div>

  

</div>
