<div class="card px-3 pt-2">
    <div class="card-body">

        <div class="text-right"><small>
            <em>Atualizado em {{ localInfo.datetime | date:"dd/MM/yyyy hh:mm" }}</em>
        </small></div>
        
        <h3>{{ nomeLocal }}</h3>
        <div class="container my-4">
            <div class="row">

                <div class="col-md-6">
                    <h6>Casos</h6>
                    <h4>{{ localInfo.cases}}</h4>
                </div>

                <div class="col-md-6">
                    <h6>Óbitos</h6>
                    <h4>{{ localInfo.deaths}}</h4>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <h6>Suspeitos</h6>
                    <h4>{{ localInfo.suspects}}</h4>
                </div>

                <div class="col-md-6">
                    <h6>Descartados</h6>
                    <h4>{{ localInfo.refuses}}</h4>
                </div>

            </div>
        </div>

        <div class="card-actions">
            <a class="card-link float-right" (click)="onToggleBookmark()">
                {{ isFavorite ? 'Remover dos favoritos' : 'Adicionar aos favoritos' }}
            </a>
        </div>
        
    </div>
</div>